@media all and (max-width:576px) {
    .logo {
        font-size: 25px;
    }

    .header-content {
        padding: 30px 100px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .navbar-new {
        display: block;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul {
        display: block;
    }

    .header-title {
        font-size: 44px;
        margin-bottom: 10px;
    }

    .header-btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    /* --------------- */
    .feature {
        padding: 30px 100px;
        display: flex;
        flex-direction: column;
    }

    .clients {
        display: grid;
        gap: 4px;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0px;
    }

    .client-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .feature-text {
        padding: 0 100px;
    }

    .feature-title {
        font-size: 30px;
    }

    .exp-content {
        padding: 30px 100px;
        display: flex;
        flex-direction: column;
    }

    .exp-left {
        width: 100%;
    }

    .exp-title {
        font-weight: 700;
        font-size: 30px;
    }

    .exp-right {
        width: 100%;
    }

    .exp-right img {
        width: 100%;
        height: 650px;
    }

    .exp-year {
        width: 150px;
        height: 150px;
    }

    .year-title {
        color: #fff;
        font-weight: 700;
        font-size: 30px;
    }

    .year-des {
        font-size: 18px;
    }

    /* -------------- */
    .facts {
        padding: 30px 100px;
    }

    .fact-title {
        font-size: 30px;
    }

    .fact-list {
        display: grid;
        padding: 0 0px;
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .fact-1 {
        width: 150px;
        height: 180px;
        margin: 0 10px;
    }

    .fact-1 img {
        margin-top: 35px;
    }

    .fact-1 h2 {
        font-size: 25px;
    }

    .fact-1 h4 {
        font-size: 16px;
    }

    /* ------------- */

    .sponsor {
        padding: 30px 100px;
    }

    .sponsor-title {
        font-size: 30px;
    }

    .sponsor-company {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    /* --------------- */
    .banner {
        margin: 0;
        padding: 30px 100px;
        display: flex;
        flex-direction: column;
    }

    .banner-left {
        padding-left: 0px;
    }

    .banner-tittle {
        font-size: 30px;
    }

    .banner-talk {
        font-size: 25px;
    }

}